@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
  body {
    @apply bg-[#fefbf6];
  }

  html,
  body,
  div#__next {
    height: 100%;
  }
}

@layer components {
  .items-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }

  .page-container {
    min-height: calc(100vh - 120px);
  }
}
